<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HarveyChuiDoctorProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>502111171DA85A3200677174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5021112E1DA85A3300677174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502111391DA85A3300677174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
